<footer class="nga-footer">
    <div class="nga-hint">
      <div class="container">
        <div class="row p-4">
        </div>
      </div>
    </div>
    <div class="container py-5 text-center text-lg-start">
      <div class="row">
        <div class="col-12 col-lg-5 mb-3">
          <h2 class="h5"><img class="mb-1 me-1" src="https://cdn-icons-png.flaticon.com/128/8640/8640328.png" width="25" height="25" alt="Logo">TechVerse</h2>
          <hr class="text-white mb-4 mt-0 d-inline-block " style="width: 120px;">
          <p>Confrences, Meetups & Tech Resources </p>
          <p>Join the global amazing tech community </p>
          <hr>
          
          <div>
            <a type="button" class="nga-btn-social nga-btn-linkedin" href="https://www.linkedin.com/in/ig-rawx/"
              aria-label="Linkedin ganatan">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a type="button" class="nga-btn-social nga-btn-twitter" href="https://twitter.com/ig-rawx"
              aria-label="Twitter ganatan">
              <i class="fab fa-twitter"></i>
            </a>
            <a type="button" class="nga-btn-social nga-btn-github" href="https://github.com/Vinayak27-raw"
              aria-label="Github ganatan">
              <i class="fab fa-github"></i></a>
          </div>
          
          
        </div>
        <br>
          <br>
          <hr>
        <div class="col-6 col-lg-3 mb-3">
          <h2 class="h5">Your Account</h2>
          <hr class="text-white mt-0 d-inline-block" style="width: 70px;">
          <ul class="list-unstyled">
            <li class="mb-2"><a routerLink = "/signup">Sign up</a></li>
            <li class="mb-2"><a routerLink="/login">Login</a></li>
            <li class="mb-2"><a routerLink="/about">Join Local Community</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-3 mb-3">
          <h2 class="h5">Learn</h2>
          <hr class="text-white mt-0 d-inline-block" style="width: 70px;">
          <ul class="list-unstyled">
            <li class="mb-2" routerLink="/about">Tech Confrences</li>
            <li class="mb-2"><a href="https://youtu.be/cyKKvKsJr64">Online Resources</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-3 mb-3">
          <h2 class="h5">TechVerse</h2>
          <hr class="text-white mt-0 d-inline-block" style="width: 70px;">
          <ul class="list-unstyled">
            <li class="mb-2" routerLink="/about">About</li>
            <li class="mb-2"><a href="https://medium.com/tag/tech-conference">Blog</a></li>
            <li class="mb-2" routerLink="">TechVerse Pro</li>
            <li class="mb-2"><a href="https://devrelcareers.com/">Carrers</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="py-3 text-center" style="background-color: black;">
      <div class="container">
        <a routerLink=""> techverse.com</a>
      </div>
    </div>
  </footer>
